@model KaraokeReservation.ViewsModel.WatchViewModel


@{
    ViewBag.Title = "Home Page";
    int cntr = 1;
}



<div class="row">
    @*<div class="col-md-3 hidden-xs" id="sideBar-full">
        <div class="col-lg-12 col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for groups">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>*@

    <div class="col-md-12 push-left">
        @*<div class="video-thumbnail-container">*@
            @foreach (var video in Model.ListOfVideoModels)
            {
                if (video.CounterForList % 5 == 1) // no remainder
                {

             @:<div class="video-thumbnail-container">
                    cntr = 0;
                    <div class="col-md-2 col-md-offset-1">
                         <a href="@Url.Action("Index", "Watch", routeValues: new { id = video.Id })">
                             <img src="~/FileUpload/Thumbnails/@string.Concat(video.Id, ".jpg")"
                                 class="img-responsive" />

                             <p title="@video.Title">@video.Title</p>
                        </a>
                        <span style="font-size:10pt; margin-top:-10px;">@video.ViewCount time(s) played</span>

                    </div>

                }
                else
                {
                    cntr= cntr + 1;
                    <div class="col-md-2">
                      
                          <a href="@Url.Action("Index", "Watch", routeValues: new { id = video.Id })">
                             <img src="~/FileUpload/Thumbnails/@string.Concat(video.Id, ".jpg")"
                                 class="img-responsive" />
                              <p title="@video.Title">@video.Title</p>
                        </a>
                        <span style="font-size:10pt;">@video.ViewCount time(s) played</span>

                    </div>

                    if (cntr == 4)
                    {
                        cntr = 0;
               @:</div>

                    }
                }

            }
</div>





        </div>
    </div>
</div>