@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a id="btnUpload" class="btn navbar-btn" href="@Url.Action("Index", "Upload")"><span class="fa fa-upload"></span></a></li>
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>


    }




}
else
{

    @*<form class="navbar-form navbar-right">
            <div class="form-group">
                <a href="#">Browse </a>
                |
                <a href="#"> Login</a>
                <button type="button" class="btn btn-success">Sign Up</button>
            </div>


        </form>*@


    <div class="navbar-form navbar-right">
        <div class="form-group">
            <a href="@Url.Action("Login", "Account")" method="get" class="label label-info">Login</a>
            or
            <a href="@Url.Action("Register", "Account")" method="get" class="label label-success">Register</a>
        </div>
    </div>



}
